<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe Médico</title>
    <link rel="stylesheet" href="diagnostico.component.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="sidebar-header">
                <h2>Menú</h2>
            </div>
            <ul>
                <li><a href="/justificante"><i class="fas fa-file-alt"></i> Justificante</a></li>
                <li><a href="/alumno"><i class="fas fa-notes-medical"></i> Alumno</a></li>
                <li><a href="/usuario"><i class="fa-solid fa-arrow-rotate-left"></i>Registrarse</a></li>
            </ul>
        </div>

    <div class="informe-medico">
        <h1>Informe Médico Salud UTNG</h1>
        <form>
            <div class="form-group">
                <label for="responsable-diagnostico">Responsable del diagnostico</label>
                <input type="text" id="nombre-diagnostico">
            </div>
            <div class="form-group">
                      
                <label for="fecha-diagnostico">Fecha del diagnostico</label>
                <input type="date" id="fecha-diagnostico">
            </div>
            <h2>Datos del alumno</h2>
            <div class="form-group">
                <label for="nombre-paciente">Nombre del Paciente</label>
                <input type="text" id="nombre-paciente">
                
                <label for="numero-control">Numero de control</label>
                <input type="text" id="numero-control">
            </div>
            <h2>Cuestionario médico</h2>
            <div class="form-group">
                <input type="text" id="antecedentes-medicos" >
            </div>
                  <div class="form-group firma">
                <label for="firma-facultativo">Sello del area de enfermeria</label>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
           <div>
                <button type="submit" class="btn btn-success" >Guardar</button>
                <button type="reset" class="btn btn-danger" >Borrar formulario</button>
            </div>
        </form>
    </div><br>
    <footer class="pie-pagina">
        <p>&copy; 2024 SaludUTNG. Todos los derechos reservados.</p>
    </footer>
    </div>
</body>
</html>
